package-lock.json
/node_modules
/api/_logs/articles/_articlesLogs.txt
/api/_logs/auth/_authLogs.txt
/api/_logs/users/_usersLogs.txt
/api/_logs/admins/_adminsLogs.txt
api/_certs
/coverage
/opt
/.scannerwork
public/assets/css/main.css