doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/main.css")
    script(src="https://unpkg.com/htmx.org@1.9.10")
    script(src="assets/js/activeNavLink.js")
    script(src="assets/js/buttons.js")
    script(src="assets/js/snackbar.js")
    title Artiwave
  body

  header
    include components/navbar/navbar.component.pug

  #articles-list

    script(src="assets/js/token.js", defer)
    script(src="assets/js/setHeaderAuthorization.js", defer)
    script(src="assets/js/onLoad.js", defer)

