<nav>
	<div class="nav-container">
		<div class="nav-left-section">
			<a class="nav-logo"
				 aria-label="Bouton vers la page accueil">
				<img src="assets/img/logo/ArtiWave-logo-L.png"
						 alt="Logo du site Artiwave">
			</a>
			<p>ArtiWave</p>
		</div>
		<div class="nav-center-section">
			<a href="/"
				 id="home-link"
				 class="nav-link active"
				 aria-label="Bouton vers la page d'accueil">Home
			</a>
			<a hx-get="/api/articles"
				 id="articles-list"
				 class="nav-link"
				 aria-label="Bouton vers la page des articles">Articles
			</a>
		</div>
		<div class="nav-right-section">
			<button hx-get="/login-component"
							hx-swap="outerHTML"
							type="button"
							id="login-button"
							class="login-button"
							aria-label="Bouton vers le formulaire de connexion">
				<span>Connexion</span>
			</button>
		</div>
	</div>
</nav>
