<form id="loginForm"
      class="form">
  <h2 class="h2-form">Login</h2>
  <div class="user-box">
    <input type="email"
           id="email"
           name="email"
           autocomplete="on"
           placeholder="Email"
           required>
    <span class="input-focus-border"></span>
    <label for="email">Email</label>
  </div>
  <div class="user-box">
    <input type="password"
           id="password"
           name="password"
           autocomplete="off"
           placeholder="Password"
           required>
    <span class="input-focus-border"></span>
    <label for="password">Password</label>
  </div>
  <button type="submit"
          hx-post="http://localhost:9001/api/login"
          class="submit-button-form">
    <span>Submit</span>
  </button>
  <p class="message">Not registered?
  <br>
  <a href="#">Create an account</a></p>
</form>
