/*------Color-Palette------*/
:root {
  /*------ Main Colors------*/
  --black: #000;
  --white: #fff;
  --main-blue: #027efb;
  --main-purple: #b621fe;
  /*------Text------*/
  --button-text: var(--main-blue);
  --label-text: var(--main-purple);
  --placeholder-text: var(--main-purple);
  /*------Border------*/
  --border-button-hover: var(--main-blue);
  --border-input: var(--main-blue);
  /*------Gradient------*/
  --gradient1: #1fd1f9;
  --gradient2: var(--main-purple);
  /*------Input------*/
  --focus-input-border: var(--main-purple);

  /*------Semantic Fonts------*/
  /*------Roboto------*/
  --body-text: 'roboto';
  --body-font-weight-regular: 400;

  /*------Shadows------*/
}


/*------Reset------*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*------Tags------*/
body {
  font-family: var(--body-text);
  font-weight: var(--body-font-weight-regular);

  .login-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  /*------Buttons------*/
  button {
    position: relative;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    background-image: linear-gradient(315deg, var(--gradient1) 0%, var(--gradient2) 74%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    margin: 20px;
    padding: 0;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.5),7px 7px 20px 0px rgba(0,0,0,0.1),4px 4px 5px 0px rgba(0, 0, 0, 0.35);
    outline: none;
    &:before, &:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: var(--border-button-hover);
      transition: all 0.3s ease;
    }
    &:before {
      height: 0%;
      width: 2px;
    }
    &:after {
      width: 0%;
      height: 2px;
    }
    &:hover {
      background: transparent;
    }
    &:hover:before {
      height: 100%;
    }
    &:hover:after {
      width: 100%;
    }
    span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      &:before, &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: linear-gradient(var(--gradient1) 0%, var(--gradient2) 0%);
        transition: all 0.3s ease;
      }
      &:before {
        width: 2px;
        height: 0%;
      }
      &:after {
        height: 2px;
        width: 0%;
      }
      &:hover {
        color: var(--button-text);
      }
      &:hover:before {
        height: 100%;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }

  /*------Forms------*/
  .form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 45%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    border-top: 2px solid var(--main-blue);
    border-left: 2px solid var(--main-blue);
    border-bottom: 2px solid var(--gradient2);
    border-right: 2px solid var(--gradient2);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 9999;
    .h2-form {
      font-size: 33px;
      margin: 0 0 35px 0;
      padding: 0;
      color: var(--main-blue);
      text-align: center;
      font-variant: small-caps;
    }
    .user-box {
      position: relative;
      input, textarea {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: var(--black);
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid var(--black);
        outline: none;
        background: transparent;
        transition: width 0.2s linear 0.2s;
        ~ span.input-focus-border {
          display: block;
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 30px;
          left: 0;
          background: linear-gradient(to right, var(--gradient1), var(--gradient2) 60%);
        }
        &:hover ~ label {
          color: var(--main-purple);
        }
        &:hover ~ span.input-focus-border {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, var(--gradient1), var(--gradient2) 60%);
          bottom: 30px;
          left: 0;
          transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
        }
        &:focus {
          outline: none;
          color: var(--black);
          ~ label {
            font-size: 14px;
            top: -20px;
            left: 0;
            color: var(--main-purple);
          }
          ~ span.input-focus-border {
            width: 100%;
            transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
          }
        }
        &::placeholder {
          color: transparent;
        }
        &:not(:placeholder-shown) ~ label {
          font-size: 14px;
          top: -20px;
          left: 0;
          color: var(--main-purple);
        }
        &:valid ~ label {
          font-size: 14px;
          color: var(--main-purple);
          top: -20px;
          left: 0;
        }
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: var(--black);
        pointer-events: none;
        transition: top 0.5s, font-size 0.5s, color 0.5s;
      }
    }
    button.submit-form {
      margin: 15px 0 15px 0;
    }
    p.message {
      text-align: center;
      margin: 16px 0 0 0;
    }
  }
}
