:root {
  /*======COLOR PALETTE======*/
  /*------Main------*/
  --black: #000;
  --white: #fff;
  --grey: #bebebe;
  --grey-light: #e9e9e9;
  --grey-dark: #646464;
  --main-blue: #027efb;
  --main-purple: #b621fe;
  --second-blue: #1fd1f9;
  --third-blue: #1c75e9;
  --valid: rgb(0, 236, 0);
  --invalid: rgb(219, 0, 0);
  /*------Background------*/
  --main-bg: var(--black);
  --hover-button-bg: var(--grey-light);
  --snackbar-bg: var(--grey-light);
  /*------Text------*/
  --body-text-color: var(--grey);
  --nav-link-text-color: var(--grey);
  --button-text-color: var(--grey-light);
  --hover-button-text-color: var(--main-blue);
  --label-text-color: var(--main-purple);
  --link-text-color: var(--third-blue);
  --snackbar-text-color: var(--grey-dark);
  /*------Border------*/
  --button-hover-border-color: var(--main-blue);
  /*------Gradient------*/
  --gradient1: var(--second-blue);
  --gradient2: var(--main-purple);
  --gradient-effect: linear-gradient(315deg, var(--gradient1) 0%, var(--gradient2) 74%);

  /*======SEMANTIC FONTS======*/
  /*------Arial------*/
  --body-text: 'arial';
  --body-font-text-weight-regular: 400;
  /*------Roboto------*/
  --body-title-h2: 'roboto';
  --body-font-title-h2-weight-bold: 900;
  /*------Hello Radea------*/
  @font-face {
    font-family: 'Hello Radea';
    font-weight: normal;
    src: url('../fonts/HelloRadea.woff') format('woff');
  }
  --hello-radea-font: 'Hello Radea';
  /*------PP Editorial Old------*/
  @font-face {
    font-family: 'PP Editorial Old';
    font-weight: 400;
    src: url('../fonts/PPEditorialOld.otf') format('otf');
  }
  --playfair-display-font: 'PP Editorial Old';

  /*======FONTS SIZE======*/
  /*------Mobile------*/
  /*------Small Desktop------*/
  /*------Large Desktop------*/


  /*======SHADOWS======*/


  /*======IMPORTS======*/
  /*------Responsive Small Desktop------*/
  @import 'responsive/responsive.small.desktop.scss';
  /*------Responsive Large Desktop------*/
  @import 'responsive/responsive.large.desktop.scss';
  /*------Header------*/
  @import 'tags/header.scss';
  /*------Button------*/
  @import 'tags/button.scss';
  /*------Link------*/
  @import 'tags/link.scss';
  /*------Form------*/
  @import 'tags/form.scss';
  /*------Snackbar------*/
  @import 'components/snackbar.scss';
  /*------Animations------*/
  @import 'animations/animations.scss';
}


/*------Reset------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*------Preset------*/
html, body {
  width: 100%;
  height: 100%;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text !important;
  -webkit-background-clip: text !important;
}


/*------Body------*/
body {
  font-family: var(--body-text);
  font-weight: var(--body-font-text-weight-regular);
  background-color: var(--main-bg);
  color: var(--body-text-color);
}
