:root {
  /*======IMPORTS======*/
  /*****------Components------*****/
  /*------Layout------*/
  @import 'components//layout.scss';
  /*------Content------*/
  @import 'components/content.scss';
  /*------Snackbar------*/
  @import 'components/snackbar.scss';

  /*****------Tags------*****/
  /*------Header------*/
  @import 'tags/header.scss';
  /*------Footer------*/
  @import 'tags/footer.scss';
  /*------Button------*/
  @import 'tags/button.scss';
  /*------Link------*/
  @import 'tags/link.scss';
  /*------Form------*/
  @import 'tags/form.scss';

  /*****------Animations------*****/
  @import 'animations/animations.scss';

  /*****------Responsive------*****/
  /*------Responsive Small Desktop------*/
  @import 'responsive/responsive.small.desktop.scss';
  /*------Responsive Large Desktop------*/
  @import 'responsive/responsive.large.desktop.scss';

  /*======COLOR PALETTE======*/
  /*------Main------*/
  --black: #000;
  --white: #fff;
  --grey: #bebebe;
  --grey-light: #e9e9e9;
  --grey-dark: #646464;
  --main-first-color: #027efb;
  --second-color: #b621fe;
  --main-second-color: #1fd1f9;
  --main-third-color: #1c75e9;
  --valid: rgb(0, 236, 0);
  --invalid: rgb(219, 0, 0);
  /*------Background------*/
  --main-bg: var(--black);
  --hover-button-bg: var(--grey-light);
  --snackbar-bg: var(--grey-light);
  /*------Text------*/
  --body-text-color: var(--grey);
  --nav-link-text-color: var(--grey);
  --button-text-color: var(--grey-light);
  --hover-button-text-color: var(--main-first-color);
  --label-text-color: var(--second-color);
  --link-text-color: var(--main-third-color);
  --snackbar-text-color: var(--grey-dark);
  /*------Border------*/
  --button-hover-border-color: var(--main-first-color);
  /*------Gradient------*/
  --gradient1: var(--main-second-color);
  --gradient2: var(--second-color);
  --gradient-effect: linear-gradient(315deg, var(--gradient1) 0%, var(--gradient2) 74%);

  /*======FONTS======*/
  /*****------Semantics------*****/
  /*------Arial------*/
  --body-text: 'arial';
  --body-font-text-weight-regular: 400;
  /*------Roboto------*/
  --body-title-h2: 'roboto';
  --body-font-title-h2-weight-bold: 900;
  /*------Hello Radea------*/
  @font-face {
    font-family: 'Hello Radea';
    font-weight: normal;
    src: url('../fonts/HelloRadea.woff') format('woff');
  }
  --hello-radea-font: 'Hello Radea';
  /*------PP Editorial Old------*/
  @font-face {
    font-family: 'PP Editorial Old';
    font-weight: 400;
    src: url('../fonts/PPEditorialOld.otf') format('otf');
    --playfair-display-font: 'PP Editorial Old';
  }
  /*****------Sizes------*****/
  /*------Mobile------*/
  /*------Small Desktop------*/
  /*------Large Desktop------*/

  /*======SHADOWS======*/
}


/*======Reset======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*======Preset======*/
html, body {
  width: 100%;
  height: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text !important;
  -webkit-background-clip: text !important;
}


/*======Body======*/
body {
  font-family: var(--body-text);
  font-weight: var(--body-font-text-weight-regular);
  background-color: var(--main-bg);
  color: var(--body-text-color);
}
