.form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 20px 0 40px 0;
  transform: translate(-50%, -50%);
  border-top: 3px solid var(--main-blue);
  border-left: 3px solid var(--main-blue);
  border-bottom: 3px solid var(--gradient2);
  border-right: 3px solid var(--gradient2);
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 9999;
  .close-form-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    .close-form-link {
      display: block;
      position: relative;
      .close-form-icon {
        transition: 400ms ease-in 100ms;
        &:hover {
          transform: rotate(180deg);
        }
      }
      &:hover::before {
        content: "";
        position: absolute;
        top: 47%;
        left: 49%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 3px solid transparent;
        background: linear-gradient(white, white) padding-box,
                    conic-gradient(from 68deg, var(--gradient1), var(--gradient2)) border-box;
        transition: all 0.5s ease;
      }
    }
  }
  .h2-form {
    font-family: var(--body-title-h2);
    font-weight: var(--body-font-title-h2-weight-bold);
    font-size: 33px;
    text-align: center;
    margin: 0 0 35px 0;
    padding: 0;
    background: linear-gradient(var(--gradient2) 40%, var(--gradient1));
    background: -webkit-linear-gradient(var(--gradient2) 40%, var(--gradient1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variant: small-caps;
  }
  .user-input {
    position: relative;
    width: 200px;
    input, textarea {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: var(--black);
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid var(--black);
      outline: none;
      background: transparent;
      transition: width 0.2s linear 0.2s;
      ~ span.input-border {
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 30px;
        left: 0;
        background: linear-gradient(to right, var(--gradient1), var(--gradient2) 60%);
      }
      &:hover ~ label {
        color: var(--main-purple);
      }
      &:hover ~ span.input-border {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, var(--gradient1), var(--gradient2) 60%);
        bottom: 30px;
        left: 0;
        transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
      }
      &:focus {
        outline: none;
        color: var(--black);
        ~ label {
          font-size: 14px;
          top: -20px;
          left: 0;
          color: var(--label-text-color);
        }
        ~ span.input-border {
          width: 100%;
          transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
        }
      }
      &::placeholder {
        color: transparent;
      }
      &:not(:placeholder-shown) ~ label {
        font-size: 14px;
        top: -20px;
        left: 0;
        color: var(--label-text-color);
      }
      &:valid ~ label {
        font-size: 14px;
        color: var(--label-text-color);
        top: -20px;
        left: 0;
      }
      &:valid ~ span.input-border {
        font-size: 14px;
        color: var(--main-purple);
        top: 37px;
        left: 0;
      }
    }
    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: var(--black);
      pointer-events: none;
      transition: top 0.5s, font-size 0.5s, color 0.5s;
    }
  }
  span.error-message {
    color: red;
    width: 200px;
    height: 10px;
    text-align: center;
    margin: -20px 0 30px 0;
  }
  button.submit-form {
    margin: 15px 0 15px 0;
  }
  p.message {
    text-align: center;
    margin: 16px 0 0 0;
    color: var(--black);
    .register-link {
      font-size: 15px;
    }
  }
  .forgotten-password {
    justify-content: flex-start;
    font-size: 15px;
    width: 200px;
    margin-bottom: 15px;
  }
}